In [33]:
import numpy as np
import pandas as pd


matches_df = pd.read_csv('./data/matches.csv')

cols_to_drop = ['season', 'match_name','date', 'home_team', 'away_team', 'home_score', 'away_score',
                'h_match_points', 'a_match_points']

num_cols = matches_df.dtypes[matches_df.dtypes != 'object'].index.tolist()

corr_cols = list(set(num_cols) - set(cols_to_drop))

matches_df['winner_h'] = np.where(matches_df.winner == 'HOME_TEAM', 1, 0)
matches_df['winner_a'] = np.where(matches_df.winner == 'AWAY_TEAM', 1, 0)
matches_df['winner_d'] = np.where(matches_df.winner == 'DRAW', 1, 0)

In [34]:
matches_df[corr_cols + ['winner_h']].corr()['winner_h'].sort_values(ascending = False).reset_index()

               index  winner_h
0           winner_h  1.000000
1              a_odd  0.336843
2            at_rank  0.295672
3              d_odd  0.189922
4            ht_wins  0.166122
5         ht_l_goals  0.146948
6           ht_goals  0.146948
7          at_losses  0.144198
8          ht_points  0.142364
9        ht_l_points  0.135737
10     ht_win_streak  0.112075
11       at_goals_sf  0.103264
12    at_loss_streak  0.080938
13     ht_l_goals_sf  0.046906
14          at_draws  0.046512
15    at_draw_streak  0.020685
16        ht_ls_rank  0.010932
17     at_l_goals_sf  0.010818
18  at_days_ls_match  0.009612
19  ht_days_ls_match  0.009152
20          ht_draws  0.002306
21    ht_draw_streak -0.004151
22       ht_goals_sf -0.065596
23        at_ls_rank -0.078400
24         at_points -0.078658
25        at_l_goals -0.082506
26          at_goals -0.082506
27    ht_loss_streak -0.083286
28           at_wins -0.106323
29         ht_losses -0.111067
30       at_l_points -0.118402
31     at_win_streak -0.118675
32             h_odd -0.297946
33           ht_rank -0.317245

In [35]:
matches_df[corr_cols + ['winner_a']].corr()['winner_a'].sort_values(ascending = False).reset_index()

               index  winner_a
0           winner_a  1.000000
1              h_odd  0.352757
2            ht_rank  0.289467
3            at_wins  0.134243
4      at_win_streak  0.133123
5          ht_losses  0.114680
6        at_l_points  0.108986
7         at_l_goals  0.107260
8           at_goals  0.107260
9          at_points  0.104008
10       ht_goals_sf  0.071186
11    ht_loss_streak  0.065680
12        at_ls_rank  0.040154
13    ht_draw_streak  0.008443
14     at_l_goals_sf  0.007278
15          ht_draws  0.004786
16    at_draw_streak -0.009641
17        ht_ls_rank -0.018756
18     ht_l_goals_sf -0.024432
19  ht_days_ls_match -0.024892
20  at_days_ls_match -0.024939
21          at_draws -0.040593
22    at_loss_streak -0.074640
23     ht_win_streak -0.085449
24       at_goals_sf -0.095781
25             d_odd -0.097094
26        ht_l_goals -0.110549
27          ht_goals -0.110549
28         ht_points -0.113713
29       ht_l_points -0.123364
30           ht_wins -0.134698
31         at_losses -0.138250
32             a_odd -0.283917
33           at_rank -0.302434

In [36]:
matches_df[corr_cols + ['winner_d']].corr()['winner_d'].sort_values(ascending = False).reset_index()

               index  winner_d
0           winner_d  1.000000
1            ht_rank  0.060615
2         at_ls_rank  0.048310
3     ht_loss_streak  0.026867
4        at_l_points  0.021613
5   ht_days_ls_match  0.015819
6   at_days_ls_match  0.015337
7         ht_ls_rank  0.007237
8          ht_losses  0.007055
9        ht_goals_sf  0.000496
10     at_win_streak -0.003706
11    ht_draw_streak -0.004151
12          ht_draws -0.007759
13          at_draws -0.010848
14    at_draw_streak -0.013758
15    at_loss_streak -0.014627
16       at_goals_sf -0.018075
17          at_goals -0.018199
18        at_l_goals -0.018199
19         at_points -0.019210
20           at_wins -0.019226
21     at_l_goals_sf -0.020281
22         at_losses -0.020459
23           at_rank -0.021815
24       ht_l_points -0.026454
25     ht_l_goals_sf -0.028469
26             h_odd -0.028994
27     ht_win_streak -0.039270
28         ht_points -0.044392
29           ht_wins -0.049667
30        ht_l_goals -0.053071
31          ht_goals -0.053071
32             a_odd -0.089246
33             d_odd -0.117218

In [37]:
matches_df['season'].value_counts()

2020    380
2019    380
2018    380
2017    380
2016    380
2015    380
2014    380
2013    380
2012    380
2011    380
2010    380
2009    380
2008    380
2007    380
2005    380
2006    377
Name: season, dtype: int64

In [24]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6077 entries, 0 to 6076
Data columns (total 47 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   season            6077 non-null   int64
 1   date              6077 non-null   object
 2   match_name        6077 non-null   object
 3   home_team         6077 non-null   object
 4   away_team         6077 non-null   object
 5   winner            6077 non-null   object
 6   home_score        6077 non-null   int64
 7   away_score        6077 non-null   int64
 8   h_odd             6077 non-null   float64
 9   d_odd             6077 non-null   float64
 10  a_odd             6077 non-null   float64
 11  h_match_points    6077 non-null   int64
 12  a_match_points    6077 non-null   int64
 13  ht_rank           6077 non-null   int64
 14  ht_ls_rank        6077 non-null   int64
 15  ht_days_ls_match  6077 non-null   float64
 16  ht_points         6077 non-null   int64
 17  ht_l_points       6077 non-null   float64
 18  ht_goals          6077 non-null   int64
 19  ht_l_goals        6077 non-null   float64
 20  ht_goals_sf       6077 non-null   int64
 21  ht_l_goals_sf     6077 non-null   float64
 22  ht_wins           6077 non-null   int64
 23  ht_draws          6077 non-null   int64
 24  ht_losses         6077 non-null   int64
 25  ht_win_streak     6077 non-null   int64
 26  ht_loss_streak    6077 non-null   int64
 27  ht_draw_streak    6077 non-null   int64
 28  at_rank           6077 non-null   int64
 29  at_ls_rank        6077 non-null   int64
 30  at_days_ls_match  6077 non-null   float64
 31  at_points         6077 non-null   int64
 32  at_l_points       6077 non-null   float64
 33  at_goals          6077 non-null   int64
 34  at_l_goals        6077 non-null   float64
 35  at_goals_sf       6077 non-null   int64
 36  at_l_goals_sf     6077 non-null   float64
 37  at_wins           6077 non-null   int64
 38  at_draws          6077 non-null   int64
 39  at_losses         6077 non-null   int64
 40  at_win_streak     6077 non-null   int64
 41  at_loss_streak    6077 non-null   int64
 42  at_draw_streak    6077 non-null   int64
 43  ls_winner         5443 non-null   object
 44  winner_h          6077 non-null   int64
 45  winner_a          6077 non-null   int64
 46  winner_d          6077 non-null   int64
dtypes: float64(11), int64(30), object(6)
memory usage: 2.2+ MB

In [14]:
matches_df['winner'].value_counts()

HOME_TEAM    2797
AWAY_TEAM    1796
DRAW         1484
Name: winner, dtype: int64

In [3]:
#setting season to be the start year of a season
matches_df['season'] = matches_df.season.str.split('/').str[0] # 2020/ 2021 -> 2020


#creating home and away score
matches_df[['home_team', 'away_team']] = matches_df.match_name.str.split(' - ', expand = True) # Arsenal - Brighton -> Arsenal, Brighton


#creating home and away score
matches_df[['home_score', 'away_score']] = matches_df.result.str.split(':', expand = True) # 2:0 -> 2,0

#creating winner column
matches_df['winner'] = np.where(matches_df.home_score > matches_df.away_score, 'HOME_TEAM', np.where(matches_df.away_score > matches_df.home_score, 'AWAY_TEAM', 'DRAW'))

#droping result column
matches_df.drop(columns = 'result', inplace = True)

In [4]:
#turning columns into integers
matches_df['season'] = matches_df['season'].astype(int)
matches_df['home_score'] = matches_df['home_score'].astype(int)
matches_df['away_score'] = matches_df['away_score'].astype(int)

#cleaning up columns with missing number data
matches_df['a_odd'] = matches_df['a_odd'].str.replace('-', '0')
matches_df['d_odd'] = matches_df['d_odd'].str.replace('-', '0')
matches_df['h_odd'] = matches_df['h_odd'].str.replace('-', '0')

#turning columns into floats
matches_df['a_odd'] = matches_df['a_odd'].astype(float)
matches_df['d_odd'] = matches_df['d_odd'].astype(float)
matches_df['h_odd'] = matches_df['h_odd'].astype(float)


#changing from date to datetime
matches_df['date'] = pd.to_datetime(matches_df.date)

In [5]:
#home team points made in each match
matches_df['h_match_points'] = np.where(matches_df['winner'] == 'HOME_TEAM', 2 , np.where(matches_df['winner'] == 'DRAW',1, 0))

#away team points made in each match
matches_df['a_match_points'] = np.where(matches_df['winner'] == 'AWAY_TEAM', 2 , np.where(matches_df['winner'] == 'DRAW',1, 0))

#changing columns order
cols_order = ['season', 'date', 'match_name', 'home_team', 'away_team', 'winner', 'home_score', 'away_score',
                'h_odd', 'd_odd', 'a_odd', 'h_match_points', 'a_match_points']

matches_df = matches_df[cols_order]

matches_df.head()

,season,date,match_name,home_team,away_team,winner,home_score,away_score,h_odd,d_odd,a_odd,h_match_points,a_match_points
0,2020,2021-05-23,Arsenal - Brighton,Arsenal,Brighton,HOME_TEAM,2,0,1.68,4.22,4.96,2,0
1,2020,2021-05-23,Aston Villa - Chelsea,Aston Villa,Chelsea,HOME_TEAM,2,1,6.99,4.92,1.45,2,0
2,2020,2021-05-23,Fulham - Newcastle,Fulham,Newcastle,AWAY_TEAM,0,2,2.49,3.48,2.91,0,2
3,2020,2021-05-23,Leeds - West Brom,Leeds,West Brom,HOME_TEAM,3,1,1.55,4.78,5.59,2,0
4,2020,2021-05-23,Leicester - Tottenham,Leicester,Tottenham,AWAY_TEAM,2,4,1.80,4.26,4.14,0,2